<p id="notice"><%= notice %></p>

<h1>Página do Cliente</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Datanascimento</th>
      <th>Email</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.nome %></td>
        <td><%= customer.datanascimento %></td>
        <td><%= customer.email %></td>
        <td><%= customer.endereco %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

