<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @customer.nome %>
</p>

<p>
  <strong>Datanascimento:</strong>
  <%= @customer.datanascimento %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @customer.endereco %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
